/* 
    Document   : style
    Created on : Dec 24, 2010, 6:14:53 PM
    Author     : yaroslav
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.postbox {
    background-color: #FFFFFF;
}
.postbox{
    border-color: #DFDFDF;
}
.postbox{
    -moz-border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    line-height: 1;
    margin-bottom: 20px;
}
.postbox {
    min-width: 255px;
    position: relative;
    width: 99.5%;
}

a.sm_button {
    background-position: 5px 50%;
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    padding: 4px 4px 4px 25px;
    text-decoration: none;
}

a.sm_pluginHome {
    background-image: url("../img/icon-arne.gif");
}
a.sm_pluginSupport {
    background-image: url("../img/icon-wordpress.gif");
}
a.sm_pluginCommercial {
    background-image: url("../img/icon-ivinco.gif");
}

table.form-table {
    clear: none;
}

h2#post-body-content-tabs{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 0;
    margin-top: 1px;
}

#comments-form {
    float: left; width: 100%;
}