##########################
# WARNING: it is not original sphinx.conf - this file adopted to sphinx 
# which installed by wordpress Sphinx Search plugin.
# Don't use this file as example of sphinx configuration, 
# better visit the official doc page at http://www.sphinxsearch.com/doc.html
##########################

source main_{source}
{
	type	= mysql
	sql_host	= {sql_host}
	sql_user	= {sql_user}
	sql_pass	= {sql_pass}
	sql_db		= {sql_db}
  {sql_sock}
	sql_port	= 3306	# optional, default is 3306
	sql_query_pre	= SET NAMES utf8
	sql_query_pre	= REPLACE INTO wp_sph_counter SELECT 1, MAX(id) FROM {wp_posts}
	sql_query_pre	= REPLACE INTO wp_sph_counter SELECT 2, MAX(comment_id) FROM {wp_comments}
	sql_query		= select \
		p.ID*2+1 as ID, \
		0 as comment_ID,\
		p.ID as post_ID,\
		p.post_title as title, \
		p.post_content as body, \
		t.name as category, \
		IF(p.post_type = 'post', 1, 0) as isPost, \
		0 as isComment, \
		IF(p.post_type = 'page', 1, 0) as isPage, \
		UNIX_TIMESTAMP(post_date) AS date_added \
	from \
		{wp_posts} as p \
	inner join \
		{wp_term_relationships} tr on (p.ID = tr.object_id) \
	inner join \
		{wp_term_taxonomy} tt on (tt.term_taxonomy_id = tr.term_taxonomy_id and tt.taxonomy = 'category') \
	inner join \
		{wp_terms} t on (tt.term_id = t.term_id) \
	where \
		p.id <= ( SELECT max_doc_id FROM {table_prefix}sph_counter WHERE counter_id=1 ) and \
		p.post_status = 'publish' \
	union ALL \
	select \
		c.comment_ID*2 as ID, \
		c.comment_ID as comment_ID,\
		c.comment_post_ID as post_ID,\
		'' as title, \
		c.comment_content as body, \
		'' as category, \
		0 as isPost, \
		1 as isComment, \
		0 as isPage, \
		UNIX_TIMESTAMP(comment_date) AS date_added \
	from \
		{wp_comments} as c \
	where \
		c.comment_id <= ( SELECT max_doc_id FROM {table_prefix}sph_counter WHERE counter_id=2 ) and \
		c.comment_approved = '1';
	
	sql_attr_uint		= comment_ID
	sql_attr_uint		= post_ID
	sql_attr_uint		= isPost
	sql_attr_uint		= isPage
	sql_attr_uint		= isComment
	sql_attr_timestamp	= date_added
}

source delta_{source} : main_{source}
{
	sql_query_pre	= SET NAMES utf8
    sql_query	= select \
		p.ID*2+1 as ID, \
		0 as comment_ID,\
		p.ID as post_ID,\
		p.post_title as title, \
		p.post_content as body, \
		t.name as category, \
		IF(p.post_type = 'post', 1, 0) as isPost, \
		0 as isComment, \
		IF(p.post_type = 'page', 1, 0) as isPage, \
	    UNIX_TIMESTAMP(post_date) AS date_added \
	from \
		{wp_posts} as p \
	inner join \
		{wp_term_relationships} tr on (p.ID = tr.object_id) \
	inner join \
		{wp_term_taxonomy} tt on (tt.term_taxonomy_id = tr.term_taxonomy_id and tt.taxonomy = 'category') \
	inner join \
		{wp_terms} t on (tt.term_id = t.term_id) \
	where \
		p.id > ( SELECT max_doc_id FROM {table_prefix}sph_counter WHERE counter_id=1 ) and \
		p.post_status = 'publish' \
	union ALL \
	select \
		c.comment_ID*2 as ID, \
		c.comment_ID as comment_ID,\
		c.comment_post_ID as post_ID,\
		'' as title, \
		c.comment_content as body, \
		'' as category, \
		0 as isPost, \
		1 as isComment, \
		0 as isPage, \
	    UNIX_TIMESTAMP(comment_date) AS date_added \
	from \
		{wp_comments} as c \
	where \
		c.comment_id > ( SELECT max_doc_id FROM {table_prefix}sph_counter WHERE counter_id=2 ) and \
		c.comment_approved = '1';
}

index main_{source}
{
	source	= main_{source}
	path	= {sphinx_path}/var/data/main_{source}
	docinfo	= extern
	html_strip		= 1
	morphology	= stem_enru
}

index delta_{source} : main_{source}
{
    source	= delta_{source}
    path	= {sphinx_path}/var/data/delta_{source}
}

index {source}
{
    type	= distributed
    local	= main_{source}
    local	= delta_{source}
}

indexer
{
	mem_limit	= 32M
}

searchd
{
	port			= {searchd_port}
	read_timeout	= 5
	max_children	= 30
	pid_file		= {sphinx_path}/var/log/searchd.pid
	max_matches		= 1000
	log				= {sphinx_path}/var/log/searchd.log
	query_log		= {sphinx_path}/var/log/query.log
}

# --eof--
